<a href="https://colab.research.google.com/github/sailinginmymind/Data-AI-Week/blob/main/NOZIONI%20BASILARI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3.VARIABILI

Questa volta lo facciamo meglio: partiamo dalle basi proprio basilari.

In [2]:
# VARIABILI - per assegnarle, mi basta mettere "=" e posso scrivere in due modi
x = 100
y = 200
z = 123

print(x, y, z)

# E così me le printa in orizzontale. E se lo volessi in verticale?

print (x)
print(y)
print(z)

100 200 123
100
200
123

# 4.TIPI DI DATI

In [33]:
# - ottenere il tipo di dato;
# - come viene asegnato il tipo
# - tipi di dati

# Il tipo viene assegnato in automatico appena si definisce un valore, tipo

x = 5
print(type(x))

# per capire il tipo del dato print(type(x)),
# a regola, ma noi siamo più furbi
# class int -> numero intero

x = 5.5
print(type(x))
# class float -> numero decimale

x = "ciao"
print(type(x))
# class str -> stringa di testo (può essere un link, un nome di persona, un papiro ecc)

x = True
y = False
print(type(x))
print(type(y))
#class bool -> valore booleano, vero o falso


# COLLEZIONI DI DATI

x = ["roma, milano, napoli"]
print(type(x))
#class list -> x è una lista, un contenitore di elementi

x = "roma", "milano", "napoli"
print(type(x))
# class tuple -> non serve ora

x = range(6)
print(type(x))
# class range -> non serve ora

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'range'>

# 5.CASTING

In [59]:
# cosa vuol dire "castare"
# - quando si fa
# - come con int(), float(), str()

# Prendere il valore di una variabile e convertirla in una stringa, o viceversa
# Quando si fa? Lo facciamo quando uno dei due elementi è di un altro tipo
#(non posso farlo perchè me lo corregge hihi)

x = 5
y = 5
print(x + y)

# E' come se provassi a fare la somma di 5 e Alex
# Non si può fare e quindi aggiungi "str" prima del numero per trasformarlo in stringa

x = str(5)
y = "Alex"
print(x + y)

10
5Alex

# 6.STRINGHE